<%-include('./header') %>

<h2 id="s1">その他情報</h2>
<h3 id="t11">お問い合わせ</h3>
<p class="sp">当サイトに関するお問い合わせは以下のメールアドレスからお願いいたします。</p>

<p class="sp">futami.kazuma119@mail.kyutech.jp</p>
<p class="sp">作成者：九州工業大学 工学部 １年 二見和磨</p>

<p class="sp">ご意見・ご要望や追加コンテンツのご依頼などもお待ちしています。</p>

<%-include('./footer') %>
