<!DOCTYPE html>
<html long="ja">
    <head>
        <meta charset="utf-8">
        <meta name="description" contact="header">
        <meta name="robots" content="noindex">
        <title>Kirin</title>
        <link rel="stylesheet" href="../public/stylesheets/header.css">
        <link rel="stylesheet" href="../public/stylesheets/footer.css">
        <link rel="stylesheet" href="../public/stylesheets/common-sytle.css">
    </head>



    <body>
        <div class="header">
            <a href="/home" target="_parent"><img src="../public/images/logo.png" alt="" width=auto height="110px"></a>
            <h1>九工大 構内案内サービス<br>KIT-Navi&nbsp;&nbsp;&nbsp;戸畑キャンパス</h1>
            <h2>KIT-Navi&nbsp;&nbsp;戸畑キャンパス</h2>

            <div class="topBar">
                <ul>
                    <li><a href="/" target="_parent">トップ</a></li>
                    <li><a href="/search" target="_parent">検索</a></li>
                    <li><a href="/about" target="_parent">その他情報</a></li>
                </ul>
            </div>

        </div>


        <div class="wrapper">
            <div class="top-img">
            </div>
            

            <div id="nav-drawer">
                <input id="nav-input" type="checkbox" class="nav-unshown">
                <label id="nav-open" for="nav-input"><span></span></label>
                <label class="nav-unshown" id="nav-close" for="nav-input"></label>
                <div id="nav-content">
                    <iframe src="../public/stylesheets/menu.html" frameborder=0 width="300px" height="600px"></iframe>
                </div>
                <p><b>メニュー</b></p>
            </div>

            


            <div class="main">
                