<%-include('./header') %>

<h2 id="s1">KIT-naviについて</h2>
<p class="sp">当サイトでは九州工業大学（戸畑キャンパス）の構内案内を行っております。目的の場所を検索し、選択して頂くことで写真付きで道案内を行います。建物だけでなく、建物内の講義室・研究室にも対応しています。</p>



<h2 id="s2">ご利用方法</h2>
<p>以下のボタンから検索ページへ移動することができます。</p>
<button class="btn-square" onclick="location.href='/search'">検索ページへ</button>
<p class="sp">検索ワードを入力して頂くと、検索結果が表示されます。検索方法については以下をご覧ください。</p>

<h3 id="t11">検索方法について</h3>
<p class="sp">・検索枠には、ご希望の行き先を短く入力してください。<br>　例）C-3C講義室 → 「c-3c」<br>　　　インタラクティブ学習棟 → 「ミライズ」<br>　　　GYMLABO → 「ジムラボ」</p>
<p class="sp">・検索枠には１つのキーワードを入力してください。空白は入れないでください。また、数字・アルファベット・記号には半角文字を使用してください。検索結果にあらわれない場合があります。<br>　例）C-3C講義室　×「Cー３C」　○「C-3C」<br>　　　5-1A講義室　×「５ー１A」　○「5-1A」</p>
<p class="sp">※検索結果に希望する行き先があらわれない場合は、より短いキーワードをお試しください。</p>
<p class="sp">※「入口」と検索して頂くことですべての建物を表示することができます。</p>

<h3 id="t11">対応施設について</h3>
<p class="sp">当システムでは戸畑キャンパス敷地内のすべて建物の案内に対応しています。グラウンドや広場などにも対応しております。また、以下の施設では建物内の講義室や研究室の案内に対応しています。</p>
<p class="sp">・総合教育棟<br>・総合研究１号棟<br>・総合研究２号棟<br>・総合研究３号棟</p>
<p class="sp">ただし、工事やイベント等により示された経路通りに進めないことがあります。あらかじめご了承ください。</p>

<%-include('./footer') %>
