<%-include('./header') %>

<h2 id="s1">ご協力ありがとうございます。</h2>
<p>座席番号：<%= seat %></p>

<p>二次元コードの読み取りありがとうございます。着席情報が更新されました。個人情報や端末情報等は一切送信されていません。</p>
<p>学食をご利用の際はぜひ&nbsp;Kirin&nbsp;で混雑状況をチェックしてみてください！&nbsp;&nbsp;以下のボタンから混雑状況を確認することができます。</p>
<button class="btn-square" onclick="location.href='/view'">混雑状況確認</button>


<!--h3 id="t11">戸畑区の天気</h3>
<style>.max_temp{display:inline-block !important}.min_temp{display:inline-block !important}.temp{display:block !important}.rain_s{display:block !important}.pop-rain{undefined}.speed-wind{undefined}.deg-wind{undefined}.w_snow{undefined}.w_bg{background:linear-gradient(to right,#ff9800, #fff)}</style>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons.min.css"><link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.12/css/weather-icons-wind.css"><link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet"><script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script><script type="text/javascript">weather_value=1;lat = 33.893555;lon =130.82988;inputText1 = "福岡県北九州市戸畑区";search_add = "福岡県北九州市戸畑区";</script><script src="https://sitecreation.co.jp/wp-content/themes/emanon-premium-child/tpl/weather.js"></script><link id="PageStyleSheet" rel="stylesheet" href="https://sitecreation.co.jp/wp-content/themes/emanon-premium-child/tpl/style.css"><div id="weather-wrapper"><div id="weather1"></div-->

<!--h3 id="t11">今日の席占い☆</h3-->

<!-- 折り畳み展開 -->
<!-- 削除部分 -->

<%-include('./footer') %>
